asgiref==3.9.1
attrs==26.1.0
click==8.3.2
colorama==0.4.6
Django==5.2.6
django-filter==25.1
djangorestframework==3.16.1
drf-spectacular==0.29.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mypy_extensions==1.1.0
packaging==26.1
pathspec==1.0.4
pillow==11.3.0
platformdirs==4.9.6
python-decouple==3.8
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
ruff==0.15.11
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
whitenoise==6.12.0
